.ant-card-actions {
  padding: 0px;
}
.ant-card-meta-detail > div:not(:last-child) {
  margin-left: 5px;
  margin-bottom: 8px;
}
.ant-card-actions > li > span > .anticon {
  font-size: 20px !important;
  line-height: 22px !important;
  padding-left: 47px !important;
  font-weight: bold;
}

.ant-avatar > img {
  display: block;
  width: 105%;
  height: 126%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  margin: 30px;
  border: 1.5px solid var(--soft-gray);
  width: 350px;
  height: 195px;
  border-radius: 15px;
  background: linear-gradient(var(--soft-yellow), #fff);
  transition: 0.6s;
  padding: 0 !important;
}
.card:hover {
  box-shadow: 0px 0px 5px rgba(173, 172, 172, 0.746);
}
.card-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card-image-cover {
  width: 95px;
  padding: 10px;
}
.div {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.disponible {
  width: 10px;
  height: 10px;
  background-color: #55fd38;
  border-radius: 50%;
}
.no-disponible {
  width: 10px;
  height: 10px;
  background-color: #fd5f38;
  border-radius: 50%;
}
