:root {
  --violet: #5d59ff;
  --turquoise: #5cdbd3;
  --strongblue: #0c0e74;
  --letter: #a8a8a8;
  --white: #fff;
  --salmon: #fb7677;
  --softrose: rgb(255 240 239);
  --soft-yellow: rgb(253, 253, 252);
  --soft-gray: rgba(131, 128, 128, 0.15);
}

body {
  margin: 0;
  font-family: 'Comfortaa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



